@charset "UTF-8";
/*---------------Variabler---------------*/
/*--------------Inheritances-------------*/
/* line 18, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
.forumouter, .forumreplyyellow, .forumreplygreen, .tabbar {
  -webkit-box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.16); }

/* Load Arla Fonts */
/* Arla Bold Font Face */
@font-face {
  font-family: "Arla";
  src: url("../fonts/arlaifbd.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/arlaifbd.eot?#iefix") format("embedded-opentype"), url("../fonts/arlaifbd.otf") format("opentype"), url("../fonts/arlaifbd.svg") format("svg"), url("../fonts/arlaifbd.ttf") format("truetype"), url("../fonts/arlaifbd.woff") format("woff"), url("../fonts/arlaifbd.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: 700;
  font-style: normal; }

/* Arla Normal Font Face */
@font-face {
  font-family: "Arla";
  src: url("../fonts/arlaifrg.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/arlaifrg.eot?#iefix") format("embedded-opentype"), url("../fonts/arlaifrg.otf") format("opentype"), url("../fonts/arlaifrg.svg") format("svg"), url("../fonts/arlaifrg.ttf") format("truetype"), url("../fonts/arlaifrg.woff") format("woff"), url("../fonts/arlaifrg.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: 400;
  font-style: normal; }

/* Arla Light Font Face */
@font-face {
  font-family: "Arla";
  src: url("../fonts/arlaiflt.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/arlaiflt.eot?#iefix") format("embedded-opentype"), url("../fonts/arlaiflt.otf") format("opentype"), url("../fonts/arlaiflt.svg") format("svg"), url("../fonts/arlaiflt.ttf") format("truetype"), url("../fonts/arlaiflt.woff") format("woff"), url("../fonts/arlaiflt.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: 300;
  font-style: normal; }

/* Using the fonts */
/* line 89, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
html, body {
  font-family: 'Arla', Helvetica, Arial, sans-serif;
  font-size: 24px;
  color: #363E42; }

/* line 95, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
* {
  padding: 0;
  margin: 0; }

/* line 101, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
body {
  overflow-x: hidden;
  background-image: url(../images/milk-phone.png);
  background-size: cover; }

/* line 107, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
.page {
  display: none;
  /*min heigh is screen heigh minus height of tabbar */
  min-height: calc(100vh - 128px);
  animation: fadeIn 0.4s;
  /* padding equals height of tabbar */
  padding-bottom: 65px; }

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* line 130, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
.logowrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px; }

/* line 137, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
.question-icon {
  width: 70px;
  height: 70px;
  padding: 5px; }

/* line 143, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
.icon-border {
  background-color: #EBEBEC;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border-width: 6px;
  border-style: solid;
  border-color: #006C3A; }

/* line 157, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
#cow-border {
  border-width: 6px;
  border-style: solid;
  border-color: #006C3A; }

/* line 163, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
.gold-border {
  background-color: #EBEBEC;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border-width: 6px;
  border-style: solid;
  border-color: #D4AF34; }

/*
.grid1{
    grid-area: grid1;
}
.grid2{
    grid-area: grid2;
}
.grid3{
    grid-area: grid3;
}

.grid-game-catergories{
    display: grid;
    grid-template-areas: 
    'grid1 grid2'
    'grid3 grid3'
    'grid1 grid2';
    justify-items: center;

}
*/
/* line 200, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
.grid-test-wrapper {
  display: grid;
  grid-template-areas: 'grid1 grid2' 'grid3 grid3' 'grid4 grid5' 'grid6 grid6';
  justify-items: center; }
  /* line 209, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
  .grid-test-wrapper a {
    color: #363E42;
    text-decoration: none; }

/* line 214, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
.grid-icon-wrapper {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center; }
  /* line 220, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
  .grid-icon-wrapper a {
    color: #363E42;
    text-decoration: none; }

/* line 226, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
.grid-solo {
  display: grid;
  justify-items: center;
  grid-column: 1/3; }

/* line 232, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
.question-header {
  display: flex;
  flex-direction: column;
  align-items: center; }
  /* line 236, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
  .question-header h1 {
    margin: 1vh 0px; }

/* line 241, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
.breakline {
  height: 4px;
  width: 40%;
  background-color: #363E42; }

/* line 246, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
.question-container {
  display: flex;
  justify-content: center;
  flex-direction: column; }

/* line 252, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
.question {
  margin: 2vh 10%; }
  /* line 254, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
  .question p {
    text-align: end; }
  /* line 257, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
  .question span {
    font-weight: 600;
    text-align: start; }

/* line 263, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
.number-text {
  display: flex;
  justify-content: space-between; }

/* line 267, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
.question-input {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px; }
  /* line 271, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
  .question-input p {
    color: #363E42; }
  /* line 275, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
  .question-input input {
    background-color: #E4E4E4;
    border: none;
    border-radius: 7px;
    margin-right: 3px;
    text-align: end;
    padding: 5px 5px; }
  /* line 283, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
  .question-input input:focus {
    border: 2px solid #7C8180; }

/* --------> INFO SIDE STYLES <---------- */
/* line 290, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
#infodiv {
  display: flex; }

/* line 294, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
.arlalogoinfo {
  width: 40%;
  max-width: 200px;
  height: auto;
  margin-top: 15px; }

/* line 300, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
.underoverskrift {
  color: #363E42;
  font-weight: 700;
  border-bottom: 3px solid #363E42;
  width: 160px;
  text-align: center; }

/* line 307, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
.infoinner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

/* line 314, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
ul {
  list-style-position: inside;
  justify-content: center; }

/* line 318, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
li {
  margin-left: 10px;
  display: list-item;
  line-height: 30px;
  margin-bottom: 20px; }

/* line 325, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
h4 {
  font-size: 25px;
  margin: 20px 0 15px; }

/* line 330, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
.infolist {
  width: auto; }

/* ----------> FORUM STYLES <---------- */
/* line 335, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
#forumdiv {
  display: flex;
  flex-direction: column;
  align-items: center; }

/* line 343, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
.forumouter {
  display: grid;
  justify-content: center;
  width: 95%;
  max-width: 700px;
  height: 170px;
  border: 3px solid #006C3A;
  border-radius: 5px;
  margin-bottom: 15px;
  background-color: white;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 25% 50% 25%; }
  /* line 357, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
  .forumouter img {
    height: 70%;
    width: auto;
    margin: 5px; }
  /* line 363, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
  .forumouter p {
    font-size: 13px; }

/* line 369, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
.chatcow {
  display: grid;
  grid-row: 1/3;
  grid-column: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #E4E4E4;
  border-radius: 5px; }

/* line 380, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
.forumpost {
  display: grid;
  grid-row: 2/3;
  grid-column: 1/3;
  padding: 5px; }

/* line 387, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
.profilbillede {
  display: grid;
  grid-row: 1/2;
  grid-column: 1/2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  padding-right: 0; }
  /* line 396, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
  .profilbillede img {
    height: 70%;
    padding: 0;
    padding-right: 5px;
    margin: 0; }

/* line 404, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
.flag {
  display: grid;
  grid-row: 1/2;
  grid-column: 2/3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px; }
  /* line 412, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
  .flag img {
    height: 70%;
    padding: 0;
    padding-left: 5px;
    margin: 0; }

/* line 421, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
h5 {
  font-size: 17px; }

/* line 425, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
.svar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px; }
  /* line 431, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
  .svar img {
    height: 100%;
    padding: 0;
    padding-right: 5px;
    margin: 0; }

/* line 439, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
.comment {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px; }

/* line 446, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
.tid {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px; }

/* ---------> Style Topic <--------- */
/* line 456, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
#forumtopicdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  margin: auto; }

/* line 464, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
#topicouter {
  margin-top: 20px; }

/* line 468, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
.forumreplyyellow {
  align-self: flex-end;
  display: grid;
  justify-content: center;
  width: 70%;
  height: 120px;
  border: 3px solid #FFCC32;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-right: 2%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30% 40% 30%; }
  /* line 483, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
  .forumreplyyellow img {
    height: 70%;
    margin: 5px; }
  /* line 488, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
  .forumreplyyellow p {
    font-size: 13px; }

/* line 494, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
.forumreplygreen {
  align-self: flex-start;
  display: grid;
  justify-content: center;
  width: 70%;
  height: 120px;
  border: 3px solid #006C3A;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-left: 2%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30% 40% 30%; }
  /* line 509, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
  .forumreplygreen img {
    height: 70%;
    margin: 5px; }
  /* line 514, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
  .forumreplygreen p {
    font-size: 13px; }

/* line 520, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
.forumreplyyellow, .forumreplygreen {
  background-color: white;
  max-width: 600px; }

/* line 525, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
#curser {
  cursor: pointer; }

/* -------> TABBAR <------ */
/* styling af tabbar */
/* line 532, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
.tabbar {
  background-color: #E4E4E4;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  cursor: pointer; }
  /* line 544, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
  .tabbar img {
    height: 55px;
    width: auto; }

/* Style på og omkring links i baren */
/* line 551, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
.tabbar a {
  display: inline-block;
  padding: 10px 26px; }

/* style ved hover */
/* line 558, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
.tabbar a:hover {
  background-color: #363E42; }

/* style når en side er aktiv*/
/* line 563, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
.tabbar a.active {
  background-color: #363E42; }

/* line 568, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
.cream-text {
  display: none; }

/* ---------> MEDIA Q <------- */
@media screen and (min-width: 700px) {
  /* line 578, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
  body {
    background-image: url(../images/milk-laptop.png);
    background-size: cover;
    background-repeat: no-repeat; }
  /* line 584, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
  .infolist {
    margin-top: 80px; }
  /* line 590, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
  .forumouter p {
    font-size: 17px; }
  /* line 596, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
  #chatcow2, #chatcow1, #chatcow3 {
    height: auto;
    width: 92%; }
  /* line 602, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
  .forumouter {
    height: auto; }
  /* line 607, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
  .cream-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5vh 10%; }
  /* line 614, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
  .grid-test-wrapper {
    max-width: 850px; }
  /* line 618, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
  .cream-text {
    display: flex; }
  /* line 622, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
  .question-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 700px; }
  /* line 628, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
  .breakline {
    max-width: 450px; }
  /* line 631, ../../../../../Documents/GitHub/charts/Arla/scss/style.scss */
  .media-question-container {
    margin-top: 2vh;
    display: flex;
    justify-content: center; } }

/*# sourceMappingURL=style.css.map */