@charset "UTF-8";
/*---------------Variabler---------------*/
/*--------------Inheritances-------------*/
/* line 18, ../../../../../Documents/GitHub/Arla/scss/style.scss */
.forumouter, .forumreplyyellow, .forumreplygreen, .tabbar {
  -webkit-box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.16); }

/* Load Arla Fonts */
/* Arla Bold Font Face */
@font-face {
  font-family: "Arla";
  src: url("../fonts/arlaifbd.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/arlaifbd.eot?#iefix") format("embedded-opentype"), url("../fonts/arlaifbd.otf") format("opentype"), url("../fonts/arlaifbd.svg") format("svg"), url("../fonts/arlaifbd.ttf") format("truetype"), url("../fonts/arlaifbd.woff") format("woff"), url("../fonts/arlaifbd.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: 700;
  font-style: normal; }

/* Arla Normal Font Face */
@font-face {
  font-family: "Arla";
  src: url("../fonts/arlaifrg.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/arlaifrg.eot?#iefix") format("embedded-opentype"), url("../fonts/arlaifrg.otf") format("opentype"), url("../fonts/arlaifrg.svg") format("svg"), url("../fonts/arlaifrg.ttf") format("truetype"), url("../fonts/arlaifrg.woff") format("woff"), url("../fonts/arlaifrg.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: 400;
  font-style: normal; }

/* Arla Light Font Face */
@font-face {
  font-family: "Arla";
  src: url("../fonts/arlaiflt.eot");
  /* IE9 Compat Modes */
  src: url("../fonts/arlaiflt.eot?#iefix") format("embedded-opentype"), url("../fonts/arlaiflt.otf") format("opentype"), url("../fonts/arlaiflt.svg") format("svg"), url("../fonts/arlaiflt.ttf") format("truetype"), url("../fonts/arlaiflt.woff") format("woff"), url("../fonts/arlaiflt.woff2") format("woff2");
  /* Modern Browsers */
  font-weight: 300;
  font-style: normal; }

/* ---------- authentication styling ---------- */
/* line 89, ../../../../../Documents/GitHub/Arla/scss/style.scss */
#firebaseui-auth-container {
  position: absolute;
  top: 50%;
  width: 100%;
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); }

/* line 97, ../../../../../Documents/GitHub/Arla/scss/style.scss */
.firebaseui-title {
  text-align: center;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 2px; }

/* line 104, ../../../../../Documents/GitHub/Arla/scss/style.scss */
.mdl-button--raised.mdl-button--colored,
.mdl-button--raised.mdl-button--colored:active,
.mdl-button--raised.mdl-button--colored:hover {
  background: #006C3A;
  color: #fff;
  border-radius: 0; }

/* Using the fonts */
/* line 114, ../../../../../Documents/GitHub/Arla/scss/style.scss */
html, body {
  font-family: 'Arla', Helvetica, Arial, sans-serif;
  font-size: 24px;
  color: #363E42; }

/* line 120, ../../../../../Documents/GitHub/Arla/scss/style.scss */
* {
  padding: 0;
  margin: 0; }

/* line 126, ../../../../../Documents/GitHub/Arla/scss/style.scss */
body {
  overflow-x: hidden;
  background-image: url(../images/milk-phone.png);
  background-size: cover; }

/* line 132, ../../../../../Documents/GitHub/Arla/scss/style.scss */
.page {
  display: none;
  /*min heigh is screen heigh minus height of tabbar */
  min-height: calc(100vh - 128px);
  animation: fadeIn 0.4s;
  /* padding equals height of tabbar */
  padding-bottom: 65px; }

/* line 141, ../../../../../Documents/GitHub/Arla/scss/style.scss */
.hide {
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s 0.4s, opacity 0.4s linear; }

/* line 147, ../../../../../Documents/GitHub/Arla/scss/style.scss */
#back-arrow {
  margin-top: 30px;
  margin-left: 30px; }
  /* line 150, ../../../../../Documents/GitHub/Arla/scss/style.scss */
  #back-arrow img {
    width: 30px; }

/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

/* line 167, ../../../../../Documents/GitHub/Arla/scss/style.scss */
.logowrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-bottom: 20px; }

/* line 174, ../../../../../Documents/GitHub/Arla/scss/style.scss */
.question-icon {
  width: 70px;
  height: 70px;
  padding: 5px; }

/* line 180, ../../../../../Documents/GitHub/Arla/scss/style.scss */
.icon-border {
  background-color: #EBEBEC;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border-width: 6px;
  border-style: solid;
  border-color: #006C3A; }

/* line 194, ../../../../../Documents/GitHub/Arla/scss/style.scss */
#cow-border {
  border-width: 6px;
  border-style: solid;
  border-color: #006C3A; }

/* line 200, ../../../../../Documents/GitHub/Arla/scss/style.scss */
.gold-border {
  background-color: #EBEBEC;
  padding: 5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100px;
  height: 100px;
  border-radius: 100px;
  border-width: 6px;
  border-style: solid;
  border-color: #D4AF34; }

/* line 215, ../../../../../Documents/GitHub/Arla/scss/style.scss */
.login-container {
  display: flex;
  justify-content: center;
  margin-top: 10vh; }
  /* line 220, ../../../../../Documents/GitHub/Arla/scss/style.scss */
  .login-container a {
    text-decoration: none;
    color: #363E42;
    padding: 10px 20px;
    border: 4px solid #363E42; }
  /* line 226, ../../../../../Documents/GitHub/Arla/scss/style.scss */
  .login-container a:hover {
    background-color: #D4AF34; }

/* line 231, ../../../../../Documents/GitHub/Arla/scss/style.scss */
.grid-test-wrapper {
  display: grid;
  grid-template-areas: 'grid1 grid2' 'grid3 grid3' 'grid4 grid5' 'grid6 grid6';
  justify-items: center; }
  /* line 240, ../../../../../Documents/GitHub/Arla/scss/style.scss */
  .grid-test-wrapper a {
    color: #363E42;
    text-decoration: none; }

/* line 245, ../../../../../Documents/GitHub/Arla/scss/style.scss */
.grid-icon-wrapper {
  margin-top: 15px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  justify-items: center; }
  /* line 251, ../../../../../Documents/GitHub/Arla/scss/style.scss */
  .grid-icon-wrapper a {
    color: #363E42;
    text-decoration: none; }

/* line 257, ../../../../../Documents/GitHub/Arla/scss/style.scss */
.grid-solo {
  display: grid;
  justify-items: center;
  grid-column: 1/3; }

/* line 263, ../../../../../Documents/GitHub/Arla/scss/style.scss */
.question-header {
  display: flex;
  flex-direction: column;
  align-items: center; }
  /* line 267, ../../../../../Documents/GitHub/Arla/scss/style.scss */
  .question-header h1 {
    margin: 1vh 0px; }

/* line 272, ../../../../../Documents/GitHub/Arla/scss/style.scss */
.breakline {
  height: 4px;
  width: 40%;
  background-color: #363E42; }

/* line 277, ../../../../../Documents/GitHub/Arla/scss/style.scss */
.question-container {
  display: flex;
  justify-content: center;
  flex-direction: column; }

/* line 283, ../../../../../Documents/GitHub/Arla/scss/style.scss */
.question {
  margin: 2vh 10%; }
  /* line 285, ../../../../../Documents/GitHub/Arla/scss/style.scss */
  .question p {
    text-align: end; }
  /* line 288, ../../../../../Documents/GitHub/Arla/scss/style.scss */
  .question span {
    font-weight: 600;
    text-align: start; }

/* line 294, ../../../../../Documents/GitHub/Arla/scss/style.scss */
.number-text {
  display: flex;
  justify-content: space-between; }

/* line 298, ../../../../../Documents/GitHub/Arla/scss/style.scss */
.question-input {
  display: flex;
  justify-content: flex-end;
  margin-top: 5px; }
  /* line 302, ../../../../../Documents/GitHub/Arla/scss/style.scss */
  .question-input p {
    color: #363E42; }
  /* line 306, ../../../../../Documents/GitHub/Arla/scss/style.scss */
  .question-input input {
    background-color: #E4E4E4;
    border: none;
    border-radius: 7px;
    margin-right: 3px;
    text-align: end;
    padding: 5px 5px; }
  /* line 314, ../../../../../Documents/GitHub/Arla/scss/style.scss */
  .question-input input:focus {
    border: 2px solid #7C8180; }

/* --------> INFO SIDE STYLES <---------- */
/* line 321, ../../../../../Documents/GitHub/Arla/scss/style.scss */
#infodiv {
  display: flex; }

/* line 325, ../../../../../Documents/GitHub/Arla/scss/style.scss */
.arlalogoinfo {
  width: 40%;
  max-width: 160px;
  height: auto;
  margin-top: 10px; }

/* line 331, ../../../../../Documents/GitHub/Arla/scss/style.scss */
.underoverskrift {
  color: #363E42;
  font-weight: 700;
  border-bottom: 3px solid #363E42;
  width: 160px;
  text-align: center; }

/* line 338, ../../../../../Documents/GitHub/Arla/scss/style.scss */
.infoinner {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column; }

/* line 345, ../../../../../Documents/GitHub/Arla/scss/style.scss */
ul {
  list-style-position: inside;
  justify-content: center; }

/* line 349, ../../../../../Documents/GitHub/Arla/scss/style.scss */
li {
  margin-left: 10px;
  display: list-item;
  line-height: 30px;
  margin-bottom: 20px; }

/* line 356, ../../../../../Documents/GitHub/Arla/scss/style.scss */
h4 {
  font-size: 25px;
  margin: 20px 0 15px; }

/* line 361, ../../../../../Documents/GitHub/Arla/scss/style.scss */
.infolist {
  width: auto; }

/* ----------> FORUM STYLES <---------- */
/* line 366, ../../../../../Documents/GitHub/Arla/scss/style.scss */
#forumdiv {
  display: flex;
  flex-direction: column;
  align-items: center; }

/* line 374, ../../../../../Documents/GitHub/Arla/scss/style.scss */
.forumouter {
  display: grid;
  justify-content: center;
  width: 95%;
  max-width: 700px;
  height: 170px;
  border: 3px solid #006C3A;
  border-radius: 5px;
  margin-bottom: 15px;
  background-color: white;
  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 25% 50% 25%; }
  /* line 388, ../../../../../Documents/GitHub/Arla/scss/style.scss */
  .forumouter img {
    height: 70%;
    width: auto;
    margin: 5px; }
  /* line 394, ../../../../../Documents/GitHub/Arla/scss/style.scss */
  .forumouter p {
    font-size: 13px; }

/* line 400, ../../../../../Documents/GitHub/Arla/scss/style.scss */
.chatcow {
  display: grid;
  grid-row: 1/3;
  grid-column: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid #E4E4E4;
  border-radius: 5px; }

/* line 411, ../../../../../Documents/GitHub/Arla/scss/style.scss */
.forumpost {
  display: grid;
  grid-row: 2/3;
  grid-column: 1/3;
  padding: 5px; }

/* line 418, ../../../../../Documents/GitHub/Arla/scss/style.scss */
.profilbillede {
  display: grid;
  grid-row: 1/2;
  grid-column: 1/2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  padding-right: 0; }
  /* line 427, ../../../../../Documents/GitHub/Arla/scss/style.scss */
  .profilbillede img {
    height: 70%;
    padding: 0;
    padding-right: 5px;
    margin: 0; }

/* line 435, ../../../../../Documents/GitHub/Arla/scss/style.scss */
.flag {
  display: grid;
  grid-row: 1/2;
  grid-column: 2/3;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px; }
  /* line 443, ../../../../../Documents/GitHub/Arla/scss/style.scss */
  .flag img {
    height: 70%;
    padding: 0;
    padding-left: 5px;
    margin: 0; }

/* line 452, ../../../../../Documents/GitHub/Arla/scss/style.scss */
h5 {
  font-size: 17px; }

/* line 456, ../../../../../Documents/GitHub/Arla/scss/style.scss */
.svar {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px; }
  /* line 462, ../../../../../Documents/GitHub/Arla/scss/style.scss */
  .svar img {
    height: 100%;
    padding: 0;
    padding-right: 5px;
    margin: 0; }

/* line 470, ../../../../../Documents/GitHub/Arla/scss/style.scss */
.comment {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px; }

/* line 477, ../../../../../Documents/GitHub/Arla/scss/style.scss */
.tid {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px; }

/* ---------> Style Topic <--------- */
/* line 487, ../../../../../Documents/GitHub/Arla/scss/style.scss */
#forumtopicdiv {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1000px;
  margin: auto; }

/* line 495, ../../../../../Documents/GitHub/Arla/scss/style.scss */
#topicouter {
  margin-top: 20px; }

/* line 499, ../../../../../Documents/GitHub/Arla/scss/style.scss */
.forumreplyyellow {
  align-self: flex-end;
  display: grid;
  justify-content: center;
  width: 70%;
  height: 120px;
  border: 3px solid #FFCC32;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-right: 2%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30% 40% 30%; }
  /* line 514, ../../../../../Documents/GitHub/Arla/scss/style.scss */
  .forumreplyyellow img {
    height: 70%;
    margin: 5px; }
  /* line 519, ../../../../../Documents/GitHub/Arla/scss/style.scss */
  .forumreplyyellow p {
    font-size: 13px; }

/* line 525, ../../../../../Documents/GitHub/Arla/scss/style.scss */
.forumreplygreen {
  align-self: flex-start;
  display: grid;
  justify-content: center;
  width: 70%;
  height: 120px;
  border: 3px solid #006C3A;
  border-radius: 5px;
  margin-bottom: 15px;
  margin-left: 2%;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30% 40% 30%; }
  /* line 540, ../../../../../Documents/GitHub/Arla/scss/style.scss */
  .forumreplygreen img {
    height: 70%;
    margin: 5px; }
  /* line 545, ../../../../../Documents/GitHub/Arla/scss/style.scss */
  .forumreplygreen p {
    font-size: 13px; }

/* line 551, ../../../../../Documents/GitHub/Arla/scss/style.scss */
.forumreplyyellow, .forumreplygreen {
  background-color: white;
  max-width: 600px; }

/* line 556, ../../../../../Documents/GitHub/Arla/scss/style.scss */
#curser {
  cursor: pointer; }

/* -------> TABBAR <------ */
/* styling af tabbar */
/* line 563, ../../../../../Documents/GitHub/Arla/scss/style.scss */
.tabbar {
  background-color: #E4E4E4;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  display: flex;
  justify-content: center;
  cursor: pointer; }
  /* line 575, ../../../../../Documents/GitHub/Arla/scss/style.scss */
  .tabbar img {
    height: 45px;
    width: auto; }

/* Style på og omkring links i baren */
/* line 582, ../../../../../Documents/GitHub/Arla/scss/style.scss */
.tabbar a {
  display: inline-block;
  padding: 10px 26px; }

/* style ved hover */
/* line 589, ../../../../../Documents/GitHub/Arla/scss/style.scss */
.tabbar a:hover {
  background-color: #363E42; }

/* style når en side er aktiv*/
/* line 594, ../../../../../Documents/GitHub/Arla/scss/style.scss */
.tabbar a.active {
  background-color: #363E42; }

/* line 599, ../../../../../Documents/GitHub/Arla/scss/style.scss */
.cream-text {
  display: none; }

/* line 602, ../../../../../Documents/GitHub/Arla/scss/style.scss */
.chart-container {
  grid-area: lineChart;
  width: 100%;
  height: 100%; }

/* line 608, ../../../../../Documents/GitHub/Arla/scss/style.scss */
.chart-grid-container {
  margin: 10px;
  margin-bottom: 50px;
  display: grid;
  justify-content: center;
  justify-items: center;
  grid-template-columns: 100%;
  grid-template-areas: 'lineChart'  'toggle'; }

/* ---------- toggle switch styling  ---------- */
/* line 621, ../../../../../Documents/GitHub/Arla/scss/style.scss */
.data-toggle {
  max-width: 350px;
  margin: 4px 0px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between; }
  /* line 628, ../../../../../Documents/GitHub/Arla/scss/style.scss */
  .data-toggle p {
    font-size: 20px;
    margin-right: 10px; }

/* line 634, ../../../../../Documents/GitHub/Arla/scss/style.scss */
.data-container {
  grid-area: toggle; }

/* line 638, ../../../../../Documents/GitHub/Arla/scss/style.scss */
.barChart-container {
  margin: 0px 2%;
  width: 96%;
  margin-bottom: 30vh; }

/* line 644, ../../../../../Documents/GitHub/Arla/scss/style.scss */
.switch {
  position: relative;
  display: inline-block;
  width: 50px;
  height: 28px; }

/* line 651, ../../../../../Documents/GitHub/Arla/scss/style.scss */
.switch input {
  opacity: 0;
  width: 0;
  height: 0; }

/* line 657, ../../../../../Documents/GitHub/Arla/scss/style.scss */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #7C8180;
  -webkit-transition: .4s;
  transition: .4s; }

/* line 669, ../../../../../Documents/GitHub/Arla/scss/style.scss */
.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s; }

/* line 681, ../../../../../Documents/GitHub/Arla/scss/style.scss */
input:checked + .slider {
  background-color: #006C3A; }

/* line 685, ../../../../../Documents/GitHub/Arla/scss/style.scss */
input:focus + .slider {
  box-shadow: 0 0 1px #006C3A; }

/* line 689, ../../../../../Documents/GitHub/Arla/scss/style.scss */
input:checked + .slider:before {
  -webkit-transform: translateX(22px);
  -ms-transform: translateX(22px);
  transform: translateX(22px); }

/* Rounded sliders */
/* line 696, ../../../../../Documents/GitHub/Arla/scss/style.scss */
.slider.round {
  border-radius: 34px; }

/* line 700, ../../../../../Documents/GitHub/Arla/scss/style.scss */
.slider.round:before {
  border-radius: 50%; }

/* line 705, ../../../../../Documents/GitHub/Arla/scss/style.scss */
#chart h1 {
  text-align: center; }

/* ---------> MEDIA Q <------- */
@media screen and (min-width: 700px) {
  /* line 715, ../../../../../Documents/GitHub/Arla/scss/style.scss */
  body {
    background-image: url(../images/milk-laptop.png);
    background-size: cover;
    background-repeat: no-repeat; }
  /* line 721, ../../../../../Documents/GitHub/Arla/scss/style.scss */
  .infolist {
    margin-top: 80px; }
  /* line 727, ../../../../../Documents/GitHub/Arla/scss/style.scss */
  .forumouter p {
    font-size: 17px; }
  /* line 733, ../../../../../Documents/GitHub/Arla/scss/style.scss */
  #chatcow2, #chatcow1, #chatcow3 {
    height: auto;
    width: 92%; }
  /* line 739, ../../../../../Documents/GitHub/Arla/scss/style.scss */
  .forumouter {
    height: auto; }
  /* line 744, ../../../../../Documents/GitHub/Arla/scss/style.scss */
  .cream-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5vh 10%; }
  /* line 751, ../../../../../Documents/GitHub/Arla/scss/style.scss */
  .grid-test-wrapper {
    max-width: 850px; }
  /* line 755, ../../../../../Documents/GitHub/Arla/scss/style.scss */
  .cream-text {
    display: flex; }
  /* line 759, ../../../../../Documents/GitHub/Arla/scss/style.scss */
  .question-container {
    display: flex;
    justify-content: center;
    flex-direction: column;
    max-width: 700px; }
  /* line 765, ../../../../../Documents/GitHub/Arla/scss/style.scss */
  .breakline {
    max-width: 450px; }
  /* line 768, ../../../../../Documents/GitHub/Arla/scss/style.scss */
  .media-question-container {
    margin-top: 2vh;
    display: flex;
    justify-content: center; }
  /* line 774, ../../../../../Documents/GitHub/Arla/scss/style.scss */
  .chart-grid-container {
    margin-left: 15px;
    display: grid;
    align-items: center;
    grid-template-columns: 65% 35%;
    grid-template-areas: 'lineChart toggle'; }
  /* line 783, ../../../../../Documents/GitHub/Arla/scss/style.scss */
  .barChart-container {
    width: 60%;
    margin: 0px 20%; } }

/*# sourceMappingURL=style.css.map */