/*---------------Variabler---------------*/

$green: #4BB131;
$darkgreen: #006C3A;
$yellow: #FFCC32;
$darkgray: #363E42;
$gray: #7C8180;
$lightgray: #D1D2CE;
$gold: #D4AF34;

/*--------------Inheritances-------------*/
%center {
  display: flex;
  align-items: center;
  justify-content: center;
}

%shadow {
  -webkit-box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.16);
  -moz-box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.16);
  box-shadow: 0px 3px 6px 0 rgba(0, 0, 0, 0.16);
}

/* Load Arla Fonts */
/* Arla Bold Font Face */
@font-face {
    font-family: "Arla";
    src: url("../fonts/arlaifbd.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/arlaifbd.eot?#iefix") format("embedded-opentype"),
      /* IE6-IE8 */
      url("../fonts/arlaifbd.otf") format("opentype"),
      /* Open Type Font */
      url("../fonts/arlaifbd.svg") format("svg"),
      /* Legacy iOS */
      url("../fonts/arlaifbd.ttf") format("truetype"),
      /* Safari, Android, iOS */
      url("../fonts/arlaifbd.woff") format("woff"),
      /* Modern Browsers */
      url("../fonts/arlaifbd.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: 700;
    font-style: normal;
  }
  
  /* Arla Normal Font Face */
  @font-face {
    font-family: "Arla";
    src: url("../fonts/arlaifrg.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/arlaifrg.eot?#iefix") format("embedded-opentype"),
      /* IE6-IE8 */
      url("../fonts/arlaifrg.otf") format("opentype"),
      /* Open Type Font */
      url("../fonts/arlaifrg.svg") format("svg"),
      /* Legacy iOS */
      url("../fonts/arlaifrg.ttf") format("truetype"),
      /* Safari, Android, iOS */
      url("../fonts/arlaifrg.woff") format("woff"),
      /* Modern Browsers */
      url("../fonts/arlaifrg.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: 400;
    font-style: normal;
  }
  
  /* Arla Light Font Face */
  @font-face {
    font-family: "Arla";
    src: url("../fonts/arlaiflt.eot");
    /* IE9 Compat Modes */
    src: url("../fonts/arlaiflt.eot?#iefix") format("embedded-opentype"),
      /* IE6-IE8 */
      url("../fonts/arlaiflt.otf") format("opentype"),
      /* Open Type Font */
      url("../fonts/arlaiflt.svg") format("svg"),
      /* Legacy iOS */
      url("../fonts/arlaiflt.ttf") format("truetype"),
      /* Safari, Android, iOS */
      url("../fonts/arlaiflt.woff") format("woff"),
      /* Modern Browsers */
      url("../fonts/arlaiflt.woff2") format("woff2");
    /* Modern Browsers */
    font-weight: 300;
    font-style: normal;
  }
  
  /* Using the fonts */
  html, body {
    font-family: 'Arla', Helvetica, Arial, sans-serif;
    font-size: 24px;
    color: $darkgray;
  }

* {
    padding: 0;
    margin: 0;
  
  }
  
  body {
    overflow-x: hidden;
    background-image: url(../images/milk-phone.png);
    background-size: cover;
  }

  .page {
    display: none;

        /*min heigh is screen heigh minus height of tabbar */
   min-height: calc(100vh - 128px);
    animation: fadeIn 0.4s;
  /* padding equals height of tabbar */
   padding-bottom: 65px;
}


/* ---------- animations ---------- */
/* fade in */
@keyframes fadeIn {
  from {
    opacity: 0
  }

  to {
    opacity: 1
  }
}

  .logowrapper{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-bottom: 20px;
  }
  .question-icon{
    width: 70px;
    height: 70px;
    padding: 5px;
  }

  .icon-border{
      background-color: #EBEBEC;
      padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border-width: 6px;
    border-style: solid;
    border-color: #006C3A;
  }

  #cow-border{
    border-width: 6px;
    border-style: solid;
    border-color: #006C3A;
  }

.gold-border{
  background-color: #EBEBEC;
      padding: 5px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100px;
    height: 100px;
    border-radius: 100px;
    border-width: 6px;
    border-style: solid;
    border-color: #D4AF34;
    
}

  /*
.grid1{
    grid-area: grid1;
}
.grid2{
    grid-area: grid2;
}
.grid3{
    grid-area: grid3;
}

.grid-game-catergories{
    display: grid;
    grid-template-areas: 
    'grid1 grid2'
    'grid3 grid3'
    'grid1 grid2';
    justify-items: center;

}
*/

.grid-test-wrapper{
  display: grid;
  grid-template-areas: 
  'grid1 grid2'
  'grid3 grid3'
  'grid4 grid5'
  'grid6 grid6';
  justify-items: center;

a{
  color: $darkgray;
  text-decoration: none;
}
}
.grid-icon-wrapper{
  margin-top: 15px;
display: grid;
grid-template-columns: 1fr 1fr;
justify-items: center;

a{
  color: $darkgray;
  text-decoration: none;
}
}

.grid-solo{
 display: grid;
 justify-items: center;
 grid-column: 1/3;
}

.question-header{
  display: flex;
  flex-direction: column;
  align-items: center;
  h1{
    margin: 1vh 0px;
  }
}

.breakline{
  height: 4px;
  width: 40%;
  background-color: $darkgray;
}
.question-container{
display: flex;
justify-content: center;
flex-direction: column  ;
}

.question{
margin: 2vh 10%;
p{
  text-align: end;
}
 span{
   font-weight: 600;
   text-align: start;
 }
}

.number-text{
  display: flex;
  justify-content: space-between;
}
.question-input{
  display: flex;
  justify-content: flex-end;
  margin-top: 5px;
  p{
    color: $darkgray;
   
  }
  input{
    background-color: $lightgray;
    border: none;
    border-radius: 7px;
    margin-right: 3px;
    text-align: end;
    padding: 5px 5px;
  }
  input:focus{
    border: 2px solid $gray;
  }
}

/* --------> INFO SIDE STYLES <---------- */

#infodiv{
display: flex;
}

.arlalogoinfo{
  width: 40%; max-width: 200px;
  height: auto;
  margin-top: 15px;
}

.underoverskrift{
  color: $darkgray;
  font-weight: 700;
  border-bottom: 3px solid $darkgray;
  width: 160px;
  text-align: center;
}
.infoinner{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

ul{
  list-style-position: inside;
justify-content: center;
}
li {
  margin-left: 10px;
  display: list-item;
  line-height: 30px;
  margin-bottom: 20px;
}

h4{
  font-size: 25px;
  margin: 20px 0 15px;
}

.infolist{
width: auto;
}

/* ----------> FORUM STYLES <---------- */
#forumdiv{
  display: flex;
  flex-direction: column;
  align-items: center;
}



.forumouter{
  display: grid;
  justify-content: center;
  width: 95%; max-width: 700px;
  height: 170px;
  border: 3px solid $darkgreen;
  border-radius: 5px;
  @extend %shadow;
  margin-bottom: 15px;
  background-color: white;

  grid-template-columns: 1fr 1fr 1fr;
  grid-template-rows: 25% 50% 25%;

img{
  height: 70%;
  margin: 5px;

}
p{
  font-size: 13px;
}
  
}

.chatcow {
  display: grid;
  grid-row: 1/3;
  grid-column: 3/4;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 3px solid $lightgray;
  border-radius: 5px;
}

.forumpost{
  display: grid;
  grid-row: 2/3;
  grid-column: 1/3;
  padding: 5px;
}

.profilbillede{
  display: grid;
  grid-row: 1/2;
  grid-column: 1/2;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px;
  padding-right: 0;
  img{
    height: 70%;
    padding: 0;
    padding-right: 5px;
    margin: 0;
    }
}

.flag{
display: grid;
grid-row: 1/2;
grid-column: 2/3;
display: flex;
justify-content: flex-end;
align-items: center;
padding: 5px;
img{
height: 70%;
padding: 0;
padding-left: 5px;
margin: 0;
}

}

h5{
  font-size: 17px;
}

.svar{
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 5px;

  img{
    height: 100%;
    padding: 0;
    padding-right: 5px;
    margin: 0;
    }
}

.comment{
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
}

.tid{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 5px
}

/* ---------> Style Topic <--------- */

#forumtopicdiv{
  display: flex;
  flex-direction: column;
  align-items: center;
}
#topicouter{
  margin-top: 20px;
}

.forumreplyyellow{
  align-self: flex-end;
  display: grid;
  justify-content: center;
  width: 70%;
  height: 120px;
  border: 3px solid $yellow;
  border-radius: 5px;
  @extend %shadow;
  margin-bottom: 15px;
  margin-right: 2%;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30% 40% 30%;

img{
  height: 70%;
  margin: 5px;

}
p{
  font-size: 13px;
}
  
}

.forumreplygreen{
  align-self: flex-start;
  display: grid;
  justify-content: center;
  width: 70%;
  height: 120px;
  border: 3px solid $darkgreen;
  border-radius: 5px;
  @extend %shadow;
  margin-bottom: 15px;
  margin-left: 2%;

  grid-template-columns: 1fr 1fr;
  grid-template-rows: 30% 40% 30%;

img{
  height: 70%;
  margin: 5px;

}
p{
  font-size: 13px;
}
  
}

.forumreplyyellow, .forumreplygreen{
  background-color: white;
}


/* -------> TABBAR <------ */
/* styling af tabbar */
.tabbar {
  background-color: $lightgray;
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 9999;
  @extend %shadow;
  display: flex;
  justify-content: center;

  img {
    height: 40px;
    width: auto;
  }
}

/* Style på og omkring links i baren */
.tabbar a {
  display: inline-block;
  padding: 10px 26px;

}

/* style ved hover */
.tabbar a:hover {
  background-color: $lightgray;
}

/* style når en side er aktiv*/
.tabbar a.active {
  background-color: $lightgray;
}


.cream-text {
  display: none;
}

/* ---------> MEDIA Q <------- */

@media screen and (min-width: 700px){

  

  body{
    background-image: url(../images/milk-laptop.png);
    background-size: cover;
    background-repeat: no-repeat;
  }

  .infolist{
    margin-top: px;
  }

  .forumouter{
 
  p{
    font-size: 15px;
  }
    
  }

  .chatcow {
    width: 92%;
  }


.cream-grid{
  
  display: grid;
  grid-template-columns: 1fr 1fr;
  margin: 5vh 10%;
}

.grid-test-wrapper{
 max-width: 850px;
}

.cream-text {
  display: flex;
}

.question-container{
  display: flex;
  justify-content: center;
  flex-direction: column  ;
  max-width: 700px;
  }
  .breakline{
    max-width: 450px;
  }
  .media-question-container{
    margin-top: 2vh;
    display: flex;
    justify-content: center;
  }

}